.navbar {
	background-color: #fc7b03;
	display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;	
	position: fixed;
	z-index: 2;
}

.navbar a {
    border: none;
    padding: 1rem 1rem;
	width: 20%;
    text-decoration: none;
    background: #fc7b03;
    color: #000000;
    font-family: Arial;
	font-weight: bold;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.navbar a:hover,
.navbar a:focus {
    background: #db6a00;
}

.intro-section {
	font-family: Arial;
	padding-left: 200px;
	padding-top: 100px;
	text-align: center;
	color: #ffffff;
	background-color: #fc7b03;
	background-image: linear-gradient(to bottom right, #fc7b03, #000000);
	height: 100vh;
	
}
	
.intro-section img {
	position: absolute;
	left: 0;
	bottom: 0;
}

.about-section {
	background-color: #000000;
	height: 100vh;
	font-family: Arial;
	padding-left: 200px;
	padding-top: 100px;
	color: #fc7b03;
}

.about-section p {
	font-size: 1.5rem;
	max-width: 700px;
}

.about-section div {
display: inline;
}

.portfolio-section {
	background-color: #fc7b03;
	height: 100vh;
	font-family: Arial;
	font-weight: bold;
	padding-left: 200px;
	padding-top: 100px;
	color: #000000;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.nav-button:active {
    transform: scale(0.99);
	
.portfolio-section div {
	box-shadow: 3px 3px 2.5px #000000;
	border-radius: 5px;
	border-style: ridge;
	width: 50%;
	height: 20vh;
	padding: 20px;
	font-size: 1.5rem;
}

.contact-section {
	background-color: #000000;
	height: 100vh;
	font-family: Arial;
	font-size: 2rem;
	padding-left: 200px;
	padding-top: 100px;
	color: #fc7b03;
}	

.contact-section a img {
	background: #fc7b03;
	padding: 4px;
}

footer {
	font-family: Arial;
	font-weight: bold;
	font-size: 1rem;
	background-color: #fc7b03;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

h2 {
	font-size: 2rem;
}

* {
	box-sizing: border-box;	
}

